doctype html
html
    head
        title Jasmine Spec Runner
        // jasmine source
        link(rel='shortcut icon', type='image/png', href='spec/lib/jasmine-1.2.0/jasmine_favicon.png')
        link(rel='stylesheet', type='text/css', href='spec/lib/jasmine-1.2.0/jasmine.css')
        script(type='text/javascript', src='spec/lib/jasmine-1.2.0/jasmine.js')
        script(type='text/javascript', src='spec/lib/jasmine-1.2.0/jasmine-html.js')

        // include spec files here...
        script(type='text/javascript', src='spec/helper.js')
        script(type='text/javascript', src='scripts/createDocument.js')
        script(type='text/javascript', src='scripts/userSettings.js')

    script(type='text/javascript').
            function runJasmineTests() {
                var button = document.getElementById('clickButt');
                button.style.display = 'none';
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 1000;
                var htmlReporter = new jasmine.HtmlReporter();
                jasmineEnv.addReporter(htmlReporter);
                jasmineEnv.specFilter = function (spec) {
                    return htmlReporter.specFilter(spec);
                };
                function execJasmine() {
                    jasmineEnv.execute();
                }

                execJasmine();
            }
    body
        button#clickButt(type='button', onclick='runJasmineTests()') Run Rest API Tests
        #stage(style='display:none;')
           