.container.full-width.gutters
	.col-12
		h3 Mobile Seed
		p
			| Use the Dashboard Seed to develop your own industrial monitoring application. The Dashboard Seed is both a tutorial and a template that gets you up and running quickly. It provides you with capabilities such as a contextual browser, data source control, UI elements integration, internationalization, and Cloud Foundry deployment support. Just click the link below to clone this project and begin coding... it's that simple!
		p
			| Before you begin building an application please read the Getting Started Github repo.
		h4 How Do I Build an Application Using the Dashboard Seed?
		p
			| Once you clone the Dashboard Seed, use it as a starter project, where you can add the features and functionality that you want, and delete what you do not need.
		h4 Glossary
		dl.inline
			dt Asset:
			dd
				| Any thing that has value of which your organization wants to track its condition, performance or health.
			dt Card:
			dd
				| An editable container that is composed by the application developer and resides within a larger container called a View.
			dt Components/Widgets :
			dd
				| Self contained portion of an application that is composed to serve a particular function.
			dt Context Browser:
			dd
				| Component providing an application the basis of what asset is to be analyzed or audited.
			dt Dashboard:
			dd
				| A data visualization tool that displays condition, performance and health metrics ( sometimes KPIs ) within a single view.
			dt Data Source:
			dd
				| The connectible location of information pertaining to the real world state of a facility or individual asset.
			dt Deck:
			dd
				| A series of Cards that are organized by the developer that may or may not have interactivity between them.
			dt Module:
			dd  Individual repository for Sass files and related UI Elements.
			dt UI Elements:
			dd
				| The individual pieces of a consistent visual language to represent items such as buttons, form fields, drop-downs and so on.
			dt Navbar:
			dd
				| Component which contains the global navigation located on the left of all screens.
		p
			| See more about UI Elements in the Predix Design System. See more about the Design System.
