.container.full-width.gutters
	.col-12
		pxm-card#card-1(title='What is a Card?')
			p.padding-10
				| A Card is an editable container that resides within the content area of your screen.
				| For example, there are three sections on this page--each section is a card.
		pxm-card#card-2(title='What is a Deck?')
			p.padding-10
				| A Deck is an ordered series of cards set by you, the developer.
		pxm-card#card-2(title='Making Decks and Cards')
			p
				| Here are examples of the markup used to construct cards and decks.
			pxm-example
				.card
					header
						| Card Header
					section
						| Card Content
					footer
						| Card Footer
